.mat-card{
    width:35%;
    align-content: center;
    margin-top:0.5cm;
    margin-left:35%;
    height: 100%;
    text-align: justify; 
}
.example-full-width
{
    font-size:3vh;
    width:100%;
}
.example-card
{
    margin-top:4cm;
    height: 100%;
}