<div class="background" fxLayout fxLayoutAlign="center center">
  <mat-card class="example-card" >

    <mat-card-header>
      <mat-card-title>Forgot Password</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>Please enter your email address below and we will send you information to change your password.</p>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" [(ngModel)]="emailid" name="Email" required>
        </mat-form-field>
      </form>
    </mat-card-content>

    <mat-card-actions fxLayout="row" fxLayoutAlign="center">
      <button mat-raised-button (click)="reset()" color="primary">Reset Password</button>
    </mat-card-actions>

  </mat-card>
</div>