.example-full-width
{
    font-size:3vh;
    width:100%;
}
.example-card
{
    height: 70%;
    padding-bottom: 50px;
    width: 40%;
    min-width: 70vw;
}
.background
{
    padding-top: 10%;
    height:90vh;
    background: linear-gradient(-45deg, #99ffcc, #ffccff, #ff9999, #ffffcc,#3e85f2);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
   
}
@keyframes gradientBG { 
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    } 
}