<header>
  <nav class="navbar fixed-top navbar-expand-lg ">
    <img src="assets/images/logo1.png" width="40" height="40" class="d-inline-block align-top" alt="App Logo">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"color="black"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
           <a class="nav-link">Home</a>
                   </li>
        <li class="nav-item active">
           <a class="nav-link" [matMenuTriggerFor]="menu">AboutUs</a>  
           <!-- <button mat-button [matMenuTriggerFor]="menu">AboutUs</button> -->
<mat-menu #menu="matMenu">
  <button mat-menu-item ><a href="#aims"> Aims and Objectives</a> </button>
 <button mat-menu-item ><a href="#terms">Terms and Conditions</a></button>
</mat-menu>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [matMenuTriggerFor]="menu1">Learn</a> 
          <mat-menu #menu1="matMenu">
              <button mat-menu-item><a href="#donate">What can you donate</a></button>
              <button mat-menu-item><a href="#myths">Myths</a></button>
             </mat-menu>
       </li>
       <li class="nav-item">
        <div class="title">Lifeline</div>
        </li>
      </ul>
     <app-search></app-search>
    <app-account></app-account>
  </div>  
</nav>
</header>  