<section id="demo" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ol>
  <!-- The slideshow -->
  <section class="carousel-inner">
    <section class="carousel-item active">
      <h2>Testimonials</h2>
      <img src="assets/images/carousel1.jpeg" alt="carousel1" />
      <h4>I would like to sincerely thank your team for visiting our office and generating awareness about the program.
        The session was very informative and we would like to congratulate you and your team for working on this noble
        cause . I believe lot of employees felt motivated and surely will be part of Organ Donation Movement which you
        have started.
      </h4>
      <p>-Yatra</p>
    </section>
    <section class="carousel-item">
      <h2>Testimonials</h2>
      <img src="assets/images/carousel2.jpeg" alt="carousel2" />
      <h4>I was awoken by doctors who told me that the transplant was successful, and my father was fine after I donated
        a kidney to him. I’m happy to have saved him.”
      </h4>
      <p>Mamta Agarwal (Kidney Donor)</p>
    </section>
    <section class="carousel-item">
      <h2>Testimonials</h2>
      <img src="assets/images/carousel3.jpeg" alt="carousel3" />
      <h4>
        “The talk was truly a thought provoking which not only gave us insights related to organ donation, but also
        motivated our teachers and students to pledge for organ donation. We owe a special debt of gratitude for your
        kind favor and sparing your valuable time.”
      </h4>
    </section>
  </section>
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</section>