#demo {
   background: #EFE7F1;
   min-height: 465px;
   margin-top: 20px;
}

.carousel-inner img {
   border-radius: 50%;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.carousel-inner h2, h4, p {
   font-family: 'Bitter', serif;
   text-align: center;
   font-size: 15px;
   margin-top: 10px;
}