/* @media (min-width: 768px) */
.container
{
    background:#EFE7F1;  /* fallback for old browsers */
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin-top: 2cm ;
    
}
.container h2{
    text-align: center;
    /* padding-top: 2.5cm; */
}
#aims
{
    height:80%;
}
