<div id="aims" class="container">
   <h2 id="aims1">Aims and Objectives</h2>
    <hr>
    <p>As a non-profit organization and subject to the provisions of the National Health Act, No. 61 of 2003, our objectives are as follows:
            The primary objective is to promote awareness of life-saving solid organ transplants. The secondary objective is to promote awareness of tissue and life-enhancing transplants. The Lifelines’s objective is not to be responsible for, or directly involved in any medical-related processes, treatments, organ procurement or organ allocation.</p>
          <b> <p>In fulfilling its objectives, the LIFELINE has the following aims (without limitation):</p></b>
         <ul><li>   to educate the public about organ and tissue donation;</li>
          <li>  to engender a greater willingness amongst members of the public to donate their organs and tissue;</li>
            <li> to significantly increase the number of members of the public registered as organ and tissue donors with the ODF, and to record these registered organ / tissue donors on an easily accessible registry/database which will be used as a means of measuring the success of organ and tissue donor awareness drives;</li>
           <li> to assist medical professionals and stakeholders responsible for donor identification by helping with financial assistance towards organ donor and tissue referral programmes and workshops, such assistance shall be provided at the Board's sole discretion and only if it is financially viable for the ODF to do so;</li>
         <li>   where possible, the Board, acting in its sole discretion, shall assist in advocating the challenges of organ transport and delivery and to increase the number of possible transport and delivery incidences that are required, and to do all such things as are consistent with the aforegoing objectives and aims.</li>
          </ul>
</div>