mat-card{
    width: 94%;
    margin: 3%;
    margin-top: 9%;
    background-color: beige;
}
mat-horizontal-stepper{
    background-color: beige;

}
.row-div{
    width: 100%;
}

mat-form-field, #field-div{
    width: 100%;
}

.gender-div{
    padding-left: 3%;
}


.button{
    color: #fff;
    background-color: #5b305b;
    border-color: #5b305b;
    align-self: center;

}
