::ng-deep #pivotgrid {
    margin-top: 20px;
}
::ng-deep .currency {
    text-align: center;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    margin-top: 4px;
    margin-bottom: 5px;
    height: 9cm;
    background: #D3959B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BFE6BA, #D3959B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BFE6BA, #D3959B);
    /* background: linear-gradient(to bottom, #33ccff 0%, #ffcccc 100%); */

  }
#linechart,#barchart,#linechart1
{
    height: 5cm;
    
}
#linechart1
{
    margin:auto;
}

