.video
{
    width: 100%;
    height: 10cm;
    /* padding-left: 200px; */
}
.container-fluid
{
    height: 7cm;
}
.video1
{

    padding-top: 1cm;
}
.video2
{

    padding-top: 1cm;
}
.video3
{
    padding-top: 1cm;
}
h1{
    text-align: center;
}
