.landing {
  margin-top:64px;
}

iframe {
  position: absolute;
  right: 0px;
}

.heart {
  width: 100vw;
  height: 700px;
}

.image {
  position: relative;
}

.preloader img {
  width: 350px;
  height: 350px;
  margin-top:64px;
}

.preloader {
  animation: spin 3s infinite;
  position: absolute;
  top: 8px;
  left: 16px;
}

@keyframes spin {
  0% {
    -webkit-transform: rotateY(360deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
  }
}