<div class="heart">
  <div id=container>
    Donate Organ !<div></div>
    Save
    <div id=flip>
      <div>
        <div>Humanity !</div>
      </div>
      <div>
        <div>People !</div>
      </div>
      <div>
        <div>Life !</div>
      </div>
    </div>

  </div>
  <button class="button1" mat-raised-button color="primary"
    [routerLink]="['/donor-registration']">Donor-Registration</button>
  <button class="button1" mat-raised-button color="primary"
    [routerLink]="['/recepient-registration']">Receipient-Registration</button>
</div>

<!-- <div id="inner" class="preloader">
        <img src="../../assets/images/heart.png" height="60" width="60" />
    </div> -->

<app-landingpagereports></app-landingpagereports>
<app-carousel></app-carousel>
<app-video></app-video>
