/* .landing {
  margin-top:64px;
  height: 100%;
} */

iframe {
  position: absolute;
  right: 0px;
}

.heart {
  /* min-height: 35vh; */
  height: 700px;
  opacity: 1;
  width: 99vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../../assets/images/heart.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
padding-top: 200px;
animation-play-state: running;
animation: spin infinite;
}
.image {
  position: relative;
}

.preloader img {
  width: 350px;
  height: 350px;
  margin-top:64px;
}

.preloader {
  animation: spin 3s infinite;
  position: absolute;
  top: 8px;
  left: 16px;
}

@keyframes spin {
  0% {
    -webkit-transform: rotateY(360deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
  }
}