/* .landing {
  margin-top:64px;
  height: 100%;
} */
@import url('https://fonts.googleapis.com/css?family=Roboto:700');
body {
 margin:0px;
 font-family:'Roboto';
 text-align:center;
}
#container {
 color:#666;
 text-transform: uppercase;
 font-size:36px;

 font-weight:bold;
 padding-top:250px;
 
 /* position:absolute; */
 
 bottom:45%;
 display:block;
 margin-left: 100px;
}
#flip {
 height:45px;
 overflow:hidden;
}
#flip > div > div {
 color:#666;
 padding:4px 12px;
 height:45px;
 margin-bottom:45px;
 display:inline-block;

}
#flip div:first-child {
 animation: show 5s linear infinite;
}
#flip div div {
 background:#f1afcc;
}
#flip div:first-child div {
 background:#cba5ed;
}
#flip div:last-child div {
   background:#52bada;  
}
@keyframes show {
 0% {margin-top:-270px;}
 5% {margin-top:-180px;}
 33% {margin-top:-180px;}
 38% {margin-top:-90px;}
 66% {margin-top:-90px;}
 71% {margin-top:0px;}
 99.99% {margin-top:0px;}
 100% {margin-top:-270px;}
}
p {
 position:fixed;
 width:100%;
 bottom:30px;
 font-size:12px;
 color:#999;
 margin-top:200px;
}

iframe {
  position: absolute;
  right: 0px;
}

.heart {
  /* min-height: 35vh; */
  height: 700px;
  opacity: 1;
  width: 99vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../../assets/images/heart.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.button1{
margin-top: 50px;
margin-left: 100px;
font-size: 1rem;
border-radius: 2cm;
background-color: transparent;
color: #5e2c5c;
}
.image {
  position: relative;
}

.preloader img {
  width: 350px;
  height: 350px;
  /* margin-top:64px; */
}

.preloader {
  animation: spin 3s infinite;
  position: absolute;
  top: 8px;
  left: 16px;
}

@keyframes spin {
  0% {
    -webkit-transform: rotateY(360deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
  }
}

@media only screen and(max-width:320px){
  [class*="button1"] 
  {
  width: 100%;
    }
}