<div class="footer">
    <p>follow us on</p>
    <mat-icon svgIcon="facebook" aria-hidden="false" aria-label="Example facebook  SVG icon"></mat-icon>
    <mat-icon svgIcon="twittor" aria-hidden="false" aria-label="Example twittor  SVG icon"></mat-icon>
    <mat-icon svgIcon="instagram" aria-hidden="false" aria-label="Example instagram  SVG icon"></mat-icon>
<h3>contact us at lifeline@gmail.com</h3>
<div class="copyright">
<p>copyrights 2019
<mat-icon svgIcon="copyright" aria-hidden="false" aria-label="Example copyright  SVG icon"></mat-icon>
</p>
</div>
</div>
