<span class="spacer"><div class="footer" >
    <div><p>follow us on</p>
   <a href="facebook"> <mat-icon svgIcon="facebook" aria-hidden="false" aria-label="Example facebook  SVG icon"></mat-icon></a>
   <a href="twitter"><mat-icon svgIcon="twittor" aria-hidden="false" aria-label="Example twittor  SVG icon"></mat-icon></a>
    <a href="instagram"><mat-icon svgIcon="instagram" aria-hidden="false" aria-label="Example instagram  SVG icon"></mat-icon></a>
    <h3>contact us at    lifelineorgan12@gmail.com</h3>
    </div>
    <div class="copyright">
        <p>copyrights 2019
            <mat-icon svgIcon="copyright" aria-hidden="false" aria-label="Example copyright  SVG icon"></mat-icon>
        </p>
    </div>
</div>
</span>