<div class="footer"fxLayout="row"fxLayout.lt-md="column">
    <div class="helpline" fxFlex="33">
        <h3>
            Lifeline helpline
        </h3>
        <h5>
            1800 000 0000 (Toll Free)
        </h5>
    </div>
    <div class="address" fxFlex="33">
        <mat-icon svgIcon="location" aria-hidden="false" aria-label="Location SVG icon">
        </mat-icon>
        Manyata Tech Park, Bangalore, India 560045.
        <br>
        <mat-icon svgIcon="call" aria-hidden="false" aria-label="Call SVG icon">
        </mat-icon>
        080 4025 9471
        <br>
        <mat-icon svgIcon="mail" aria-hidden="false" aria-label="Mail SVG icon">
        </mat-icon>
        lifelineorgan12@gmail.com
    </div>
    <div class="social" fxFlex="33">
        <p>Connect with us on</p>
        <a href="facebook">
            <mat-icon svgIcon="facebook" aria-hidden="false" aria-label="Facebook SVG icon">
            </mat-icon>
        </a>
        <a href="twitter">
            <mat-icon svgIcon="twittor" aria-hidden="false" aria-label="Twittor SVG icon">
            </mat-icon>
        </a>
        <a href="https://www.instagram.com/?hl=en">
            <mat-icon svgIcon="instagram" aria-hidden="false" aria-label="Instagram SVG icon"></mat-icon>
        </a>
    </div>
</div>