.footer
{
    margin-top: auto;
    bottom: 0;
    background-color:black;
    height: 2cm;
    align-self: flex-end;
}
.mat-icon
{
   /* padding-left: 10px;  */
   width: 30px;
   font-size: 30px;
   float: left;
   margin-top: -20px;
   color: aliceblue;
   /* margin-top: 0.3cm; */
}
p{
    color: aliceblue;
    /* margin-left: -3px; */
    font-family: 'Zhi Mang Xing', cursive;
}
h3{
    color: aliceblue;
    text-align: center;
    margin-top: -15px;
    font-family: 'Zhi Mang Xing', cursive;
}
.copyright
{
    float: right;
    margin-top: -40px;
}