<div class="container">
    <h2 id="donate">What Can You Donate??</h2>
    <hr>
    <mat-tab-group>
        <mat-tab id="font" label="Heart">
            <h3>Heart Donation</h3>
            <p>
                Registering to become a heart donor could mean saving the life of someone with heart disease in the
                future. Heart donation is a gift of life to those for whom standard treatments are no longer working.
            </p>

            <p> Why do people need a heart donation?</p>
            <ul>
                <li>When the heart fails, it tends to be because of diseases that cause weakening of the heart muscle or
                    blockages of the blood vessels leading to the heart. Birth defects may also cause problems with the
                    working of the heart.</li>
                <li>Cardiomyopathy and coronary heart disease are the two major reasons for heart transplantation. In
                    both cases, if a life becomes seriously at risk, a heart transplant may be the only option.</li>
            </ul>

        </mat-tab>

        <mat-tab id="font" label="Lung">
            <h3>Lung Donation</h3>
            <p>Donating your lungs after your death can mean that one or both of your lungs is transplanted to save
                someone’s life.</p>

            <p>Why do people need a lung donation?</p>
            <p>Your lungs are a delicate part of the vital flow of oxygen round the body. When this process becomes
                damaged or the lungs are diseased, people can quite quickly become very seriously ill.

                A lung transplant may become the only option for people suffering from:</p>
            <ul>
                <li>cystic fibrosis – a genetic condition that clogs the lungs with mucus, making it hard to breathe and
                    digest food
                </li>
                <li>COPD (chronic obstructive pulmonary disease) – the name for a number of diseases that damage the
                    lungs
                </li>
                <li>raised blood pressure within the arteries serving the lungs (pulmonary hypertension)
                </li>

            </ul>

        </mat-tab>
        <mat-tab id="font" label="Cornea">
            <h3>Cornea Donation</h3>
            <p>Eye donation involves donating your corneas – not your iris. Sometimes called a keratoplasty, or a
                corneal graft, a cornea transplant could give someone back the gift of sight. When you register as an
                organ donor, you can choose to be a tissue donor too. Why not register as an organ and tissue donor
                today? The register is a permanent record of your wish to be a donor and can be updated at any time.</p>
            <p>Why do people need a corneal transplant?</p>
            <ul>
                <p>We do not currently have enough donated corneas to meet demand in the UK. People can need cornea
                    transplants for quite a number of reasons including:</p>
                <li>disease or injury that has made the cornea cloudy or distorted, causing vision loss
                </li>
                <li>scarring of the cornea after infections such as corneal ulcer
                </li>
                <li>Keratoconus (thinning of the cornea that causes a cone-like bulge to develop, usually in young
                    people)
                </li>
                <li>age or inherited conditions that may lead to cloudiness of the cornea in older people
                </li>
                <li>scarring caused by herpes, the cold sore virus.</li>
                <p>A cornea transplant makes a lasting difference to people’s lives and is a relatively quick procedure.
                    Depending on which type of corneal transplant people need, and how much of the cornea needs
                    replacing, the transplant can be completed in under an hou</p>

            </ul>
        </mat-tab>
        <mat-tab id="font" label="Liver">
            <h3>Liver Donation</h3>
            <p>Your liver is the largest organ in your body. It is a vital part of your digestive system, helping the
                body to get rid of toxins and regulate blood sugar levels. Because the liver supports almost every other
                organ in your body, even 24 hours without a fully working liver can be life-threatening.</p>
            <p>Why do people need a liver donation?</p>
            <ul>
                <p>Living with liver failure can mean being unable to do many of the day-to-day things that healthy
                    people take for granted. Unlike some of the other organs, there is no device that can perform the
                    job of the liver long-term</p>
                <p>Because your liver works so hard to perform so many functions it can be prone to damage from disease
                    and other problems, the most common of which are:</p>
                <li> some inherited liver disease
                </li>
                <li>viral infections
                </li>
                <li>autoimmune diseases
                </li>
                <li>liver cancer
                </li>
                <p>As the liver gets progressively damaged it will lose its functions causing liver failure, or
                    end-stage liver disease. At this point, when the quality of life is so poor, or the patient is
                    considered to have a shortened life-expectancy, a transplant is usually considered.</p>
            </ul>
        </mat-tab>
        <mat-tab id="font" label="Pancreas">
            <h3>Pancreas Donation</h3>
            <p>Your pancreas is the long organ in your abdomen that creates a vital hormone called insulin. Insulin
                helps your body not to become too high or low in blood sugar. Patients with diabetes are unable to
                produce insulin adequately.</p>
            <p>Becoming a pancreas donor could mean providing a life-line to people who are living with advanced
                diabetes. </p>
            <p>Why do people need a pancreas donation?</p>
            <ul>
                <p>Almost all pancreatic transplants are done for people with type 1 diabetes and end-stage kidney
                    failure. But this is not considered a normal treatment for diabetes. Most diabetes can be managed
                    with tablets and insulin.</p>
                <p>A transplant is only recommended for people who: </p>
                <li>do not respond well to insulin treatment</li>
                <li>have kidney disease, leading to kidney failure </li>
                <li>have frequent and severe hypoglycaemia (where your blood glucose levels drop to dangerously low
                    levels causing symptoms such as dizziness and mental confusion).</li>
                <p>Because both a pancreas and a kidney are needed for this simultaneous operation, it can mean a very
                    long wait for a transplant.</p>
            </ul>
        </mat-tab>


        <mat-tab id="font" label="Kidney">
            <h3>Kidney Donation</h3>
            <p>Donating your kidney is a potentially life-saving gift. Usually, kidney donation is something that
                happens after you die, but it is also possible to give the gift of living kidney donation.</p>
            <p>Why do people need a kidney donation? </p>
            <ul>
                <li>Your kidneys balance the amount of fluids and minerals in your body and create hormones. When they
                    are not working properly, people have to spend many hours a day attached to a dialysis machine to
                    replace some of these functions. A kidney transplant gives people the chance to live life free from
                    dialysis. </li>
                <li>For patients with end stage kidney disease who are suitable for a kidney transplant, this is the
                    best treatment option.</li>
            </ul>
        </mat-tab>
    </mat-tab-group>
</div>