<div class="log" >
    <button mat-button class= "login" *ngIf="loggedIn == false" [matMenuTriggerFor]="menu1" >Login</button>
    <mat-menu #menu1="matMenu">
        <button  mat-menu-item *ngIf="loggedIn == false" (click)="openDialog('donor')"><h6>Donor</h6></button>
        <button  mat-menu-item *ngIf="loggedIn == false" (click)="openDialog('recepient')"><h6>Recepient</h6></button>
    </mat-menu>
</div>
<a class="nav-link" *ngIf="loggedIn == true" [matMenuTriggerFor]="menu" ><mat-icon [ngStyle]="{'color':'white'}">account_circle</mat-icon></a>  
<mat-menu #menu="matMenu">
<a  mat-menu-item *ngIf="loggedIn == true"(click)="deleteaccount()">Delete Account</a>
    <a  mat-menu-item *ngIf="loggedIn == true" (click)="logout()" >Logout</a>
</mat-menu>
