.account
{
    font-size: 50px;
}

mat-icon
{
    margin: 30px 20px 5px 50px;
    font-size: 1.4cm;
}
.login{
    font-size: 25px;
    /* margin: 60px 5px 0px 50px; */
    font-weight: 1000;
    margin: 1cm 1cm 0cm 1cm ;
   
}
.log{
    margin-top: 1.5em;
}
