/* .mat-tab-group{
  margin: 100px 100px 30px 0px;
  /* -webkit-flex-direction: row;
       -ms-flex-direction: row;
           flex-direction: row;
   padding-bottom: 35px;
   height: inherit;
   border-bottom: none;
   float: left;
   border: 1px solid #ccc;
   background-color: #f1f1f1;
   width: 30%;
   height: 300px; */
.container
{
  height: 100%;
  background-color: antiquewhite;
  padding-left: 0;
  padding-right: 0;
  width:100vw;
}
.mat-tab-group {
  margin-bottom: 16px;
  margin-top: 100px;
}
.mat-card {
  /* box-shadow: 10px 10px 10px 10px grey; */
  /* -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5); */
  /* margin: 30px; */
  background-color: #eaecc1;
  border-radius: 2cm;
  border: 3px solid #5d6119;
  width: 100vw;
}
.profile
{
  width:70vw;
  /* padding-left:40px; */
  margin-top: 50px;
}
.mat-subheader {
  align-items: center;
  font-size: 20px;
  color: #5b305b;
  font-style: normal;
  text-shadow: 2px 2px #e7d6ef;
}
.h4-tag {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 1.5cm;
}
.mat-list{
  /* padding: 20px 0 20px 20px; */
  
}
.mat-checkbox{
  /* padding: 0 20px;
  line-height: 30px;
  margin: 0 10px 0 10px;; */
  
}

/* dont uncomment it  */
/* edit profile css */
/* .example-container{
  text-align:center;
  border:solid 2px black;
  width: 50%;
  margin-left: 350px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: antiquewhite;
} */
/* uncomment it  */
.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  /* margin: 0 10px; */
}
.mat-form-field{
  padding-left: 20px;
  padding-right: 20px;
}
/* .mat-tab{
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
      flex-direction: row;
padding-bottom: 35px;
height: inherit;
border-bottom: none;

}

  */
 
 .mat-card{
   margin:auto;
 }

