.container
{
    height: 100%;
}

.mat-form-field {
    width: 100%;
}
.request
{
    height: 90vh;
    width:50vw;
}
.mat-card
{
    align-items: center;
  /* background-color:rgb(231, 149, 26); */
  margin-top: 50px;
  margin-left: 100px;
  width: 50vw;

}