<mat-card>               
        <form [formGroup]="registrationForm">
            <h4>Personal Details</h4>
            <div class="row-div" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="10px" fxLayoutGap.gt-md="50px"
                fxLayoutAlign="space-around center">
                <mat-form-field appearance="legacy">
                    <mat-label>FirstName</mat-label>
                    <input matInput formControlName="firstName" maxlength="40">
                    <mat-error *ngIf="this.registrationForm.controls['firstName'].invalid">First Name is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="legacy">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName" maxlength="40">
                    <mat-error *ngIf="this.registrationForm.controls['lastName'].invalid">Last Name is required</mat-error>
                </mat-form-field>
            </div>
            <div class="row-div" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="10px" fxLayoutGap.gt-md="50px"
                fxLayoutAlign="space-around center">
                <mat-form-field appearance="legacy">
                    <mat-label>Email</mat-label>
                   <input matInput formControlName="email">
                   <mat-error *ngIf="this.registrationForm.controls['email'].hasError('required')">email is required</mat-error>
                   <mat-error *ngIf="this.registrationForm.controls['email'].hasError('pattern')">Please Enter Valid email </mat-error>
                </mat-form-field>
                <mat-form-field appearance="legacy">
                    <mat-label>Phone Number</mat-label>
                    <input matInput formControlName="phoneNumber" maxlength="10" minlength="10">
                    <mat-error *ngIf="this.registrationForm.controls['phoneNumber'].hasError('required')">Phone Number is required</mat-error>
                    <mat-error *ngIf="this.registrationForm.controls['phoneNumber'].hasError('pattern')">Please Enter Valid Phone Number</mat-error>
                </mat-form-field>
            </div>
            <div class="row-div" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="10px" fxLayoutGap.gt-md="50px"
            fxLayoutAlign="space-around center">
            <mat-form-field appearance="legacy">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password" minlength="8" maxlength="16">
                <mat-error *ngIf="this.registrationForm.controls['password'].hasError('required')">Password is
                    required</mat-error>
                <mat-error *ngIf="this.registrationForm.controls['password'].hasError('pattern')">Password should
                    contain atleast a uppercase, a lowercase, a digit and a symbol. It should between 8-16
                    characters</mat-error>
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <mat-label>Confirm Password</mat-label>
                <input type="password" matInput formControlName="confirmPassword" minlength="8" maxlength="16">
                <mat-error *ngIf="this.registrationForm.hasError('notSame')">Confirm password should match with
                    password</mat-error>
            </mat-form-field>
        </div>
            <div class="row-div" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="10px" fxLayoutGap.gt-md="50px"
                fxLayoutAlign="space-around center">
                <mat-form-field appearance="legacy">
                    <mat-label>Aadhar</mat-label>
                    <input matInput formControlName="aadhar" maxlength="12" minlength="12">
                    <mat-error *ngIf="this.registrationForm.controls['aadhar'].hasError('required')">Aadhar Number is required</mat-error>
                    <mat-error *ngIf="this.registrationForm.controls['aadhar'].hasError('pattern')">Please Enter Valid Aadhar Number</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" [max]="maxDate" placeholder="Date of Birth" formControlName="dob" readonly>                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="gender-div">
            <mat-label>Gender</mat-label>
            <mat-radio-group  formControlName="gender">
                <mat-radio-button value="male" checked>Male</mat-radio-button>
                <mat-radio-button value="female">Female</mat-radio-button>
                <mat-radio-button value="other">Other</mat-radio-button>
            </mat-radio-group>
            </div>
        <div formGroupName="address">
                <div class="row-div" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="10px" fxLayoutGap.gt-md="50px"
                    fxLayoutAlign="space-around center">
                    <mat-form-field appearance="legacy">
                        <mat-label>Address Line 1</mat-label>
                        <input matInput formControlName="addressLine1" maxlength="40">
                        <mat-error *ngIf="this.registrationForm.controls.address['controls'].addressLine1.invalid">Address line1 is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="legacy">
                        <mat-label>Address Line 2</mat-label>
                        <input matInput formControlName="addressLine2" maxlength="40">
                        <mat-error *ngIf="this.registrationForm.controls.address['controls'].addressLine2.invalid">Address line2 is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="row-div" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="10px" fxLayoutGap.gt-md="50px"
                    fxLayoutAlign="space-around center">
                    <mat-form-field class="three-col-div" appearance="legacy" >
                        <mat-label>City</mat-label>
                        <input matInput formControlName="city" maxlength="40">
                        <mat-error *ngIf="this.registrationForm.controls.address['controls'].city.invalid">City is required</mat-error>
                    </mat-form-field>
                    <mat-form-field class="three-col-div" appearance="legacy">
                        <mat-label>State</mat-label>
                        <input matInput formControlName="state" maxlength="40">
                        <mat-error *ngIf="this.registrationForm.controls.address['controls'].state.invalid">State is required</mat-error>
                    </mat-form-field>
                    <mat-form-field class="three-col-div" appearance="legacy">
                        <mat-label>Pin</mat-label>
                        <input matInput formControlName="pinCode" maxlength="6">
                        <mat-error *ngIf="this.registrationForm.controls.address['controls'].pinCode.hasError('required')">Pincode is required</mat-error>
                        <mat-error *ngIf="this.registrationForm.controls.address['controls'].pinCode.hasError('pattern')">Please Enter Valid pincode</mat-error>
                    </mat-form-field>
                </div>
            </div>
             
                    
            <h4>Medical Details</h4>
                <div class="row-div" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="10px" fxLayoutGap.gt-md="50px"
                    fxLayoutAlign="space-around center">
                    <mat-form-field>
                        <mat-label>Blood Group</mat-label>
                        <select matNativeControl formControlName="bloodGroup" required>
                            <option value="A+">A+</option>
                            <option value="A-">A-</option>
                            <option value="B+">B+</option>
                            <option value="B-">B-</option>
                            <option value="AB+">AB+</option>
                            <option value="AB-">AB-</option>
                            <option value="O+">O+</option>
                            <option value="O-">O-</option>
                        </select>
                        <mat-error *ngIf="this.registrationForm.controls['bloodGroup'].invalid">Bloodgroup is required</mat-error>
                    </mat-form-field>
                </div>
        
        <button class="submit-button" mat-button type="submit" name="register" (click)="register()">Register</button>
  
    </form>
</mat-card>