<mat-tab-group dynamicHeight>
    <mat-tab label="Edit">
        <div>
            Edit
        </div>
    </mat-tab>

    <mat-tab label="Profile" class="tab">

        <mat-card>
            <mat-list>
                <h3 mat-subheader>Personal Details:</h3>

                <mat-list-item>

                    <h4 class="h4-tag">Name: {{donors.firstName}} {{donors.lastName}} </h4>

                </mat-list-item>
                <mat-list-item>
                    <h4 class="h4-tag">Gender: {{donors.gender}}</h4>

                </mat-list-item>
                <mat-list-item>
                    <h4 class="h4-tag">Date of Birth: {{donors.dob}}</h4>

                </mat-list-item>
                <mat-list-item>
                    <h4 class="h4-tag">Email: {{donors.email}}</h4>

                </mat-list-item>
                <mat-list-item>
                    <h4 class="h4-tag">Phone Number: {{donors.phoneNumber}}</h4>

                </mat-list-item>
                <mat-list-item>
                    <h4 class="h4-tag">Aadhar Number: {{donors.aadhar}}</h4>

                </mat-list-item>
                <mat-list-item>
                    <h4 class="h4-tag">Address: {{donors.address.addressLine1}} {{donors.address.addressLine2}},
                        {{donors.address.city}},{{donors.address.state}},pincode-{{donors.address.pinCode}}</h4>
                </mat-list-item>
                <mat-list-item>
                    <h4 class="h4-tag">Guardian details: {{donors.guardianList.name}} 
                                                         Email- {{donors.guardianList.email}}
                                                         Phone no- {{donors.guardianList.phoneNumber}}
                                                         Relation- {{donors.guardianList.relation}}
                                                         Address- {{donors.guardianList.address}}   </h4>
                                                          
                </mat-list-item>
            </mat-list>
            <mat-divider></mat-divider>

            <mat-list>
                <h3 mat-subheader>Medical Details:</h3>
                <mat-list-item>
                    <h4 class="h4-tag">Blood group: {{donors.medicalInfo.bloodGroup}} </h4>

                </mat-list-item>
                <mat-list-item>
                    <h4 class="h4-tag">Height: {{donors.medicalInfo.height}}</h4>

                </mat-list-item>
                <mat-list-item>
                    <h4 class="h4-tag">Weight: {{donors.medicalInfo.weight}}</h4>

                </mat-list-item>
                <mat-list-item>
                    <h4 class="h4-tag">Diseases you have:
                    </h4>
                </mat-list-item>
                <mat-checkbox [disabled]="donors.medicalInfo.disease.hiv" [checked]="donors.medicalInfo.disease.hiv">HIV
                </mat-checkbox>
                <mat-checkbox [disabled]="donors.medicalInfo.disease.fits" [checked]="donors.medicalInfo.disease.fits">
                    Fits</mat-checkbox>
                <mat-checkbox [disabled]="donors.medicalInfo.disease.hepatitis"
                    [checked]="donors.medicalInfo.disease.hepatitis">Hepatitis</mat-checkbox>
                <mat-checkbox [disabled]="donors.medicalInfo.disease.heartAttack"
                    [checked]="donors.medicalInfo.disease.heartAttack">Heartattack</mat-checkbox>
                <mat-checkbox [disabled]="donors.medicalInfo.disease.rabies"
                    [checked]="donors.medicalInfo.disease.rabies">Rabies</mat-checkbox>
                <mat-checkbox [disabled]="donors.medicalInfo.disease.tuberculosis"
                    [checked]="donors.medicalInfo.disease.tuberculosis">Tuberculosis</mat-checkbox>
                <mat-checkbox [disabled]="donors.medicalInfo.disease.hyperTension"
                    [checked]="donors.medicalInfo.disease.hyperTension">Hypertension</mat-checkbox>
                <mat-checkbox [disabled]="donors.medicalInfo.disease.diabetes"
                    [checked]="donors.medicalInfo.disease.diabetes">Diabetes</mat-checkbox>
                <mat-checkbox [disabled]="donors.medicalInfo.disease.cancer"
                    [checked]="donors.medicalInfo.disease.cancer">Cancer</mat-checkbox>
                <mat-checkbox [disabled]="donors.medicalInfo.disease.kidneyDisease"
                    [checked]="donors.medicalInfo.disease.kidneyDisease">KidneyDisease</mat-checkbox>
                <mat-checkbox [disabled]="donors.medicalInfo.disease.liverDisease"
                    [checked]="donors.medicalInfo.disease.liverDisease">LiverDisease</mat-checkbox>

                <mat-list-item>
                    <h4 class="h4-tag">Organs you want to donate: {{donors.medicalInfo.organs}}</h4>
                </mat-list-item>
                <mat-checkbox [disabled]="donors.medicalInfo.organs.cornea"
                    [checked]="donors.medicalInfo.organs.cornea">Cornea</mat-checkbox>
                <mat-checkbox [disabled]="donors.medicalInfo.organs.blood" [checked]="donors.medicalInfo.organs.blood">
                    Blood</mat-checkbox>
                <mat-checkbox [disabled]="donors.medicalInfo.organs.liver" [checked]="donors.medicalInfo.organs.liver">
                    Liver</mat-checkbox>
                <mat-checkbox [disabled]="donors.medicalInfo.organs.heart" [checked]="donors.medicalInfo.organs.heart">
                    Heart</mat-checkbox>
                <mat-checkbox [disabled]="donors.medicalInfo.organs.kidney"
                    [checked]="donors.medicalInfo.organs.kidney">Kidney</mat-checkbox>
                <mat-checkbox [disabled]="donors.medicalInfo.organs.platelet"
                    [checked]="donors.medicalInfo.organs.platelet">Platelet</mat-checkbox>
                <mat-checkbox [disabled]="donors.medicalInfo.organs.lung" [checked]="donors.medicalInfo.organs.lung">
                    Lung</mat-checkbox>
                <mat-checkbox [disabled]="donors.medicalInfo.organs.boneMarrow"
                    [checked]="donors.medicalInfo.organs.boneMarrow">Bonemarrow</mat-checkbox>
            </mat-list>
        </mat-card>

    </mat-tab>

    <mat-tab label="Withdraw">
        <div>

            <div class="heading"><h3>  Why do you want to withdraw ?</h3></div>
            <textarea rows="6" cols="100"> </textarea>
                <br>
                <div class="checkbox">
                  <input type="checkbox" name="confirmation" value="confirmation" checked> Are you sure you want to withdraw ?
                </div>
                <br><br>
                <div class="withdraw">
                <button (click)="deletedonor()">Withdraw</button>
        </div>
        </div>
    </mat-tab>
    <mat-tab label="Recommendation">
        <div>
            Recommendation
        </div>
    </mat-tab>

</mat-tab-group>