/* .example-card{
    text-align: center;
} */
.mat-card {
    width:400px;
    text-align: center;
    
}

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
}
.close-button
{
    float:right;
}

.mat-card h6 {
    padding: 2%;
    font-family: 'Roboto', sans-serif; 
    color: #f44336;
}