<header class="landingPageHeader">
  <mat-toolbar color="primary">
      <mat-toolbar-row>
          <div class="logo">
            <img src="assets/images/logo1.png" width="40" height="40"  alt="App Logo">
          </div>
          <div *ngIf="!loggedIn">
              <a style="color: white" routerLink=''>Home</a>
              <a [matMenuTriggerFor]="menu">About Us</a>  
              <mat-menu #menu="matMenu">
                <button mat-menu-item ><a href="#aims"> Aims and Objectives</a> </button>
                <button mat-menu-item ><a href="#terms">Terms and Conditions</a></button>
              </mat-menu>
              <a [matMenuTriggerFor]="menu1">Learn</a> 
              <mat-menu #menu1="matMenu">
                  <button mat-menu-item><a href="#donate">What can you donate</a></button>
                  <button mat-menu-item><a href="#myths">Myths</a></button>
              </mat-menu>
          </div>
          <div class="spacer"></div>
          <div class="title">Lifeline</div>
          <app-search *ngIf="!loggedIn"></app-search>
          <app-account></app-account>
      </mat-toolbar-row>
  </mat-toolbar>
</header>