<div class="container">
    <h2 id="terms">Terms and Conditions</h2>
    <p>By registering as an organ donor I understand and agree with the following: I’m registering as an organ donor by my own conviction. I understand that registering, as an organ donor, is completely free of charge. I agree that my per</p>
    <p>I accept that the Organ Donor Foundation will secure and safeguard my personal information within the framework of the South African Protection of Personal Information Act (POPI-2013). I agree to inform my next of kin of my wish to be an organ donor. If I’m under the age of 18 I confirm that my parents or guardians are aware that I‘m registering as an organ donor</p>
    <p>I agree that medical professionals may have access to my personal information and the information of my next of kin and that this information will only be used, if relevant, for the purposes of my intention to be an organ donor.</p>
</div>