<div class="video" fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap fxLayoutAlign="center">
        <div class="container-fluid">
                <!-- Control the column width, and how they should appear on different devices -->
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Awareness about organ donation</h1>
                    </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                        <div [innerHtml]="yt_iframe_html"class="video1">
                  </div>
                </div>
                  <div class="col-sm-4">
                      <div [innerHtml]="iframe_html"class="video2"></div>
                  </div>
                  <div class="col-sm-4">
                        <div [innerHtml]="iframehtml"class="video3"></div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <h2>what can u donate</h2>
                    </div>
                    <div class="col-sm-4">
                        <h2>why organ donation</h2>
                    </div>
                    <div class="col-sm-4">
                            <h2>live example</h2>
                        </div>
                </div>
            </div>
