.card1
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card2
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerstyle
{
  padding-top: 1cm; 
  margin-top: 1cm;
  max-width: 100%;
}

.mat-card {
    width: 10cm;
}

.registerbutton{
  text-align: center;
} 


