<div class="video" fxLayout="column">
    <div>
        <h2>Awareness about Organ Donation</h2>
    </div>
    <div fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column" fxLayout.lg="row" fxLayout.xl="row">
        <div fxLayout="column" class="video1" fxFlex.xs="33" fxFlex.sm="33" fxFlex.md="33" fxFlex.lg="33"
            fxFlex.xl="33">
            <div [innerHtml]="yt_iframe_html"></div>
            <h4>What Can You Donate</h4>
        </div>
        <div fxLayout="column" class="video2" fxFlex.xs="33" fxFlex.sm="33" fxFlex.md="33" fxFlex.lg="33"
            fxFlex.xl="33">
            <div [innerHtml]="iframe_html"></div>
            <h4>Why Organ Donation</h4>
        </div>
        <div fxLayout="column" class="video3" fxFlex.xs="33" fxFlex.sm="33" fxFlex.md="33" fxFlex.lg="33"
            fxFlex.xl="33">
            <div [innerHtml]="iframehtml"></div>
            <h4>Live Example</h4>
        </div>
    </div>
</div>