.video
{
    width: 100%;
    background-color:beige;
}
.video1
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
}
.video2
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
}
.video3
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
}
h2{
    text-align: center;
}
