.video {
    width: 90%;
    margin-top: 30px;
}

.video1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
}

.video2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
}

.video3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
}

h2 {
    text-align: center;
}