<div id="myths"></div>
<div class="container" >
    <h2>Myths about organ donation</h2>
    <hr>
    <ol>
        <li>Does organ donation affect funeral arrangements?</li>
        <p>The donation operation is performed as soon as possible after death. After donation, the body is always returned to the family of the deceased in the same way as any death in a hospital where donation has not taken place. Families are given the opportunity to spend time with their loved one after the operation if they wish. </p>
        <li>Will donation leave my body disfigured and prevent me having an open-casket funeral?</li>
   <p>The donor is treated with the greatest care and respect during the removal of organs and/or tissue for donation. The retrieval of organs takes place in a normal operating theatre under sterile conditions by specialist doctors. Afterwards the surgical incision is carefully closed and covered by a dressing in the normal way.</p>
   <p>Tissue can be removed in an operating theatre, mortuary or funeral home. The operation is carried out by specialist healthcare professionals who always ensure that the donor is treated with the utmost respect and dignity. Only those organs and tissue specified by the donor or their family will be removed.</p>
   <p>Organ and tissue donation doesn't prevent a donor from having an open-casket funeral. The body is clothed for burial, so there are no visible signs of organ or tissue donation. The operation site is covered with a white surgical dressing like any other abdominal surgery dressing. </p>
   <li>Am I too old for my organs to be donated?</li>
   <p>There is no maximum age for joining the register. The decision about whether some or all organs or tissue are suitable for transplant is always made by a medical specialist at the time of donation, taking into account your medical and social history.</p>
   <li>Aren't there are enough organ donors? Do you need me as well?</li>
   <p>Every year around 1,400 people generously donate their organs across the UK when they die and more than 1,000 people donate a kidney or part of their liver while they are alive. Yet still on average three people die every day in need of an organ transplant because there are not enough organ donors.</p>
   <p>Right now, around 6,000 people in the UK are on the transplant waiting list, but there are many more who would benefit from a transplant. While most people support organ donation in principle, only around a third of people have registered a decision to donate, and less than half have ever talked to somebody about organ donation.</p>
   <p>A family is much more likely to agree to donation going ahead if their relative had recorded their decision to donate on the NHS Organ Donor Register or had previously discussed their decision with them.</p>
   <li>I have a medical condition. Can I donate?</li>
   <p>Having an illness or medical condition doesn’t necessarily prevent a person from becoming an organ or tissue donor. The decision about whether some or all organs or tissue are suitable for transplant is made by a medical specialist at the time of donation, taking into account your medical, travel and social history.</p>
  <li>I’ve had cancer. Can I donate my organs?</li>
 <p>Someone with current active cancer cannot become an organ donor. However, there are certain types of cancers that after three years of treatment, people can donate organs. It still may be possible to donate eyes and some tissue in these circumstances.</p>
   <p>The decision about whether some or all organs or tissue are suitable for transplant is always made by a medical specialist at the time of donation, taking into account your medical and social history. </p>
   <li>Do I need to tell my family my organ donation decision? It’s written in my will</li>
   <p>By the time your will is read it’s likely to be far too late for you to become a donor. Should you die in circumstances that mean organ donation may be a possibility, medical specialists will discuss organ donation with your next of kin as part of the end of life care discussion. The medical team will consult the NHS Organ Donor Register to establish your donation decision before discussing it with your family. By telling your family you want to be an organ donor in the event of your death you can relieve them of the burden of having to make the decision at such a difficult time. 

    </p>
    <p>So, tell them your decision, let them know you want to be an organ donor. 

        </p>

   
   
   
    </ol>
</div>