/* .menu-spacer {
  flex: 1 1 auto;
} */
.row-div
{
   align-items: start !important;
}
.mat-tab-group {
  margin-bottom: 16px;
  margin-top: 100px;
}
/* .mat-tab{
  width: 70%;
} */
.profile
{
  min-width: 300px; 
  width:50vw;
}
.mat-card {
  /* box-shadow: 10px 10px 10px 10px grey; */
  /* -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5); */
 /* margin-left: 50px; */
  background-color: #eaecc1;
  border-radius: 2cm;
  border: 3px solid #5d6119;
  /* margin: 50px; */
  min-width: 300px;
}

.mat-subheader {
  /* float: right; */
  align-items: center;
  font-size: 1.5rem;
  color: #5b305b;
  font-style: normal;
  text-shadow: 2px 2px #e7d6ef;
}

.h4-tag {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  /* padding-top: 1.5cm; */
  
}
/* 
.mat-list {
  padding: 20px 0 20px 20px;
} */

/* withdraw css */

textarea {
  margin-top: 10px;
  background-color: #eaecc1;
  margin-left: 300px;
}

.withdraw {
  text-align: center;
  margin-bottom: 10px;
}

.checkbox {
  margin-left: 300px;
}

.heading {
  text-align: center;
  margin-top: 5px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

::ng-deep #pivotgrid {
  margin-top: 20px;
  align: center;
}

::ng-deep .currency {
  text-align: center;
}

.graphs {
  padding-left: 270px;
  /* background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%); */
  background: linear-gradient(to bottom, #33ccff 0%, #ffcccc 100%);
}

table {
  height: 9cm;
}

#linechart, #barchart, #linechart1 {
  height: 5cm;
}

.mat-form-field {
  padding-left: 20px;
  padding-right: 20px;
}

button {
  width: 3cm;
  background-color: #5b305b;
  margin-top:100px;
 
}

.content {
  padding-top: 50px;
  height:65vh;
  width: 100%;
  font-size: 30px;
  /* margin-left: 30%; */
  margin-right: 30%;
}

 

.pdf {
  display: flex;
  justify-content: center;
  /* margin-bottom: 300px; */
   margin-top: 0cm;
  padding-top:0.1vh;
 /* margin-right: 15cm; */
}

img {
  margin-left: 0.2cm;
  width: 3cm;
  height: 3cm;
  border-radius: 15px;
}
.medical
{
  margin-top: 20px;
}
