.donorRegistration
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.receiverRegistration
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin-top: 4%;
  margin-bottom: 4%;
}

.registerbutton{
  text-align: center;
} 


