  <div class="container1"  fxLayout.lt-md="column" fxLayout="row" fxLayoutAlign="space-evenly center">
    <div class="donorRegistration">   
    <mat-card fxFlex> 
          <img mat-card-image src="../../../assets/images/donor.jpg" alt="Donor"/>
          <mat-card-actions>
            <div class="registerbutton">
              <button mat-stroked-button [routerLink]="['/donor-registration']">Register</button>
            </div>
          </mat-card-actions>
        </mat-card>
        </div>

    <div class="donorRegistration">   
        <mat-card fxFlex>
          <img mat-card-image src="../../../assets/images/Receiver.jpg" alt="Register"/>
          <mat-card-actions>
            <div class="registerbutton">
              <button mat-stroked-button [routerLink]="['/recepient-registration']">Register</button>
            </div>
          </mat-card-actions>
        </mat-card>
        </div>
</div>

