  <div class="container" 
      fxLayout.xs="column" 
      fxLayout.sm="column" 
      fxLayout.md="column" 
      fxLayout.lg="row" 
      fxLayout.xl="row" 
      fxLayoutAlign="space-between">
      <div class="donorRegistration" fxFlex.xs="50" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
        <mat-card>
          <img mat-card-image src="../../../assets/images/donate.png" alt="Donor"/>
          <mat-card-actions>
            <div class="registerbutton">
              <button mat-stroked-button [routerLink]="['/donor-registration']">Register</button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="receiverRegistration" fxFlex.xs="50" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
        <mat-card>
          <img mat-card-image src="../../../assets/images/receive.png" alt="Register"/>
          <mat-card-actions>
            <div class="registerbutton">
              <button mat-stroked-button [routerLink]="['/recepient-registration']">Register</button>
            </div>
          </mat-card-actions>
        </mat-card>
    </div>
</div>

