.donorRegistration
{
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  width: 50vh;
  /* margin: 40px; */
  /* height: 10px; */
}

  
.receiverRegistration
{
  /* margin: 40px; */
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  width: 33%;
  
}

 .container1 {
  margin-top: 4%;
  margin-bottom: 4%;
  /* margin-left: 0;
  margin-right: 0; */
} 

.registerbutton{
  text-align: center;
} 


